{% load static %}
<!DOCTYPE html>
<html lang="uz">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Classic</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700,900" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="{% static 'responsive.css' %}">
</head>

<body>
    <div class="wrapper">
        {% include 'menu/header.html' %}
        <section class="bg-text-area">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="bg-text">
                            <h3>Classic BLOG Design</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="blog-post-area">
            <div class="container">
                <div class="row">
                    <div class="blog-post-area-style">
                            <div class="col-md-12">
                                <div class="single-post-big">
                                    <div class="big-image">
                                        <img src="{% static 'img/post-image1.jpg' %}" alt="">
                                    </div>
                                    <div class="big-text">
                                        <h3><a href="#">Post Title Goes Here.</a></h3>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                                        <h4><span class="date">25 February 2017</span><span class="author">Posted By: <span class="author-name">Kabbo Liate</span></span>
                                        </h4>
                                    </div>
                                </div>
                            </div>
                        {% for block in object_list %}
                            <div class="col-md-3">
                                <div class="single-post">
                                    <img width="300" height="190" src="{{ block.photo.url }}" alt="">
                                    <h3><a href="{% url 'page' block.slug %}">{{ block.title }}</a></h3>
                                    <h4><span>Posted By: <span class="author-name">{{ block.aftor }}</span></span>
                                    </h4>
                                    <p>{{ block.content|safe|truncatewords_html:15 }}</p>
                                    <h4><span>{{ block.created_at|date:"d.m.Y" }}</span></h4>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            {% if page_obj.has_other_pages %}
            <div class="pegination">
                <div class="nav-links">
                    {% for p in page_obj.paginator.page_range %}
                        {% if page_obj.number == p %}
                        <span class="page-numbers current">{{ p }}</span>
                        {% elif p > page_obj.number|add:-3 and p < page_obj.number|add:3 %}
                            <a class="page-numbers" href="?page={{ p }}">{{ p }}</a>
                        {% endif %}
                    {% endfor %}

                    {% if page.obj.has_next %}
                        <a class="page-numbers" href="?page={{ page_obj.next_page_number }} "><i class="fa fa-angle-right" aria-hidden="true"></i></a>
                    {% endif %}
                </div>
            </div>
            {% endif %}
        </section>
        {% include 'menu/footer.html' %}
    </div>
    <script src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/active.js' %}"></script>
</body>

</html>